@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.plancard {
  @include m.flexCenter(column, space-between);
  align-items: start;
  width: 30%;
  aspect-ratio: 2 / 2.5;
  border: 1px solid v.$Grey500;
  border-radius: 1rem;
  padding: 1rem;

  &:hover {
    border: 1px solid v.$Blue950;
  }

  &_details {
    @include m.flexCenter(column, space-between);
    align-items: start;
    gap: 0.3125rem;
  }

  &_icon {
    width: 3rem;
  }
  &_name {
    color: v.$Blue950;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &_price {
    font-size: 1.2rem;
    color: v.$Grey500;
  }

  &_perk {
    font-size: 1rem;
    color: v.$Blue950;
  }
}

.selectedPlan {
  border: 1px solid v.$Blue950;
  background-color: v.$Blue100;
}
