@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.container {
  @include m.flexCenter(row, start);
  width: clamp(70rem, 90vh, 90rem);
  height: clamp(40rem, 90vh, 50rem);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: white;

  &_list {
    @include m.flexCenter(column, start);
    height: 100%;
    width: 30%;
    color: white;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;

    background-image: url("/src/assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover; // or cover
    background-position: center;
  }

  &_form {
    @include m.flexCenter(column, start);
    height: 100%;
    width: 100%;
  }

  .steps {
    @include m.flexCenter(row, space-between);
    width: 100%;
    flex: 0 0 auto;
    padding: 1rem 7rem;

    &_next {
      @include m.stepButton();
      margin-left: auto;
    }

    &_prev {
      width: fit-content;
      padding: 1rem 2rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;

      background-color: inherit;
      color: v.$Grey500;
      flex: 0 0 auto;
      align-self: flex-end;
    }
  }
}

.hidden {
  display: none;
}
