@use './variables' as v;

@mixin flexCenter($direction, $position){
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: center;
}

@mixin stepButton{
        width: fit-content;
    padding: 1rem 2rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    background-color: v.$Blue950;
    color: white;
}