@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.step_three_container {
  width: 100%;
  flex: 1 1 auto;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 auto;
  }
  h1 {
    color: v.$Blue950;
    font-size: 2rem;
  }

  &_description {
    color: v.$Grey500;
  }


  &_addons{
    @include m.flexCenter(column, center);
    flex: 1 1 auto;
    gap: 1rem
  }


        .steps {
    @include m.flexCenter(row, space-between);
    width: 100%;

    &_next {
      @include m.stepButton();
      align-self: flex-end;
      margin-left: auto;
    }

    &_prev {
      width: fit-content;
      padding: 1rem 2rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;

      background-color: inherit;
      color:v.$Grey500;
      flex: 0 0 auto;
      align-self: flex-end;
    }}
}
