@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.step_four_container {
  width: 100%;
  flex: 1 1 auto;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 auto;
  }
  h1 {
    color: v.$Blue950;
    font-size: 2rem;
  }

  &_description {
    color: v.$Grey500;
  }

  .summary {
    @include m.flexCenter(column, start);
    background-color: v.$Blue100;
    border-radius: 0.5rem;
    padding: 1.5rem;
    gap: 1rem;

    &_details {
      @include m.flexCenter(row, space-between);
      width: 100%;

      &_price {
        color: v.$Blue950;
        font-weight: 600;
      }

      &_plan {
        @include m.flexCenter(column, start);
        align-items: start;
        gap: 0.5rem;

        p {
          color: v.$Blue950;
          font-weight: 600;
        }
        a {
          color: v.$Grey500;
          font-weight: 400;
          text-decoration: underline;

          cursor: pointer;

          &:hover {
            color: v.$Blue950;
            font-weight: 500;
          }
        }
      }
    }

    &_list {
      @include m.flexCenter(column, start);
      width: 100%;
      gap: 1rem;

      &_addon {
        @include m.flexCenter(row, space-between);
        width: 100%;
      }

      &_name {
        color: v.$Grey500;
      }

      &_price {
        color: v.$Blue950;
        font-weight: 500;
      }
    }
  }

  .total {
    padding: 1rem 1.5rem;
    @include m.flexCenter(row, space-between);
    width: 100%;

      &_label{
    
        color: v.$Grey500;
        font-weight: 500;
  }

        &_price{
    
        color: v.$Purple600;
        font-weight: 600;
        font-size: 1.4rem;
  }
  }
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid v.$Grey500;


}
