@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.addon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid v.$Grey500;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;

  input {
    flex: 0 0 auto;
    border-radius: 0.5rem;
  }

  &_name {
    font-weight: 600;
    color: v.$Blue950;
  }

  &_description {
    font-weight: 400;
    color: v.$Grey500;
  }
  &_details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &_price {
    flex: 0 0 auto;

    font-weight: 600;
    color: v.$Purple600;
  }

  &_check {
    appearance: none;
    cursor: pointer;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 24px;
    height: 24px;
    border: 2px solid v.$Grey500;

    &:hover {
      border: 2px solid v.$Purple600;
    }

    &:checked {
      background-color: v.$Purple600;
      border: 2px solid v.$Purple600;
    }
  }
}
